# 공공기관 SaaS 프레임워크 — 통합 API 스펙
# Design Ref: DS-N106.1
# Plan SC: FR-N106.1
# CSAP: D-08 접근 통제 문서화

openapi: "3.1.0"
info:
  title: 공공기관 SaaS 프레임워크 API
  description: |
    CSAP 중/상 등급 인증 공공기관 SaaS 프레임워크의 통합 REST API 문서입니다.
    모든 API는 JWT 인증 및 RBAC 권한 검사를 수행합니다.
  version: "2.0.0"
  contact:
    name: 공공 SaaS 개발팀
  license:
    name: MIT

servers:
  - url: https://api.saas.go.kr/v1
    description: 운영 서버
  - url: https://stg-api.saas.go.kr/v1
    description: 스테이징 서버
  - url: http://localhost:3000/v1
    description: 로컬 개발 서버

tags:
  - name: auth
    description: 인증/인가 (CSAP D-08)
  - name: users
    description: 사용자 관리
  - name: tenants
    description: 테넌트 관리
  - name: menus
    description: 메뉴 관리
  - name: audit
    description: 감사 로그 (CSAP D-06)
  - name: compliance
    description: 컴플라이언스 대시보드
  - name: ai
    description: AI 서비스 (N2SF O등급)
  - name: catalog
    description: SaaS 카탈로그
  - name: subscriptions
    description: 구독 관리
  - name: billing
    description: 과금 관리
  - name: files
    description: 파일 관리 (암호화 저장)
  - name: notifications
    description: 알림 서비스

paths:
  /auth/login:
    post:
      tags: [auth]
      summary: 로그인
      description: JWT 토큰 발급 (접근 15분, 갱신 7일)
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: admin@saas.go.kr
                password:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  expiresIn:
                    type: integer
                    example: 900
        "401":
          description: 인증 실패
        "429":
          description: 요청 제한 초과

  /auth/logout:
    post:
      tags: [auth]
      summary: 로그아웃
      description: 토큰 블랙리스트 등록
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 로그아웃 성공

  /auth/refresh:
    post:
      tags: [auth]
      summary: 토큰 갱신
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: 토큰 갱신 성공

  /users:
    get:
      tags: [users]
      summary: 사용자 목록 조회
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: tenantId
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: 성공
        "403":
          description: 권한 없음
    post:
      tags: [users]
      summary: 사용자 생성
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
      responses:
        "201":
          description: 생성 성공
        "400":
          description: 입력 검증 실패
        "409":
          description: 중복 이메일

  /users/{userId}:
    get:
      tags: [users]
      summary: 사용자 상세 조회
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: 성공
        "404":
          description: 사용자 없음

  /tenants:
    get:
      tags: [tenants]
      summary: 테넌트 목록 조회
      operationId: listTenants
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 성공
    post:
      tags: [tenants]
      summary: 테넌트 생성
      operationId: createTenant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTenantRequest"
      responses:
        "201":
          description: 생성 성공

  /tenants/{tenantId}:
    get:
      tags: [tenants]
      summary: 테넌트 상세 조회
      operationId: getTenant
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: 성공

  /audit/logs:
    get:
      tags: [audit]
      summary: 감사 로그 조회 (CSAP D-06)
      description: 감사 로그는 읽기 전용. 수정/삭제 불가 (append-only)
      operationId: listAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema: { type: string, format: date-time }
        - name: endDate
          in: query
          schema: { type: string, format: date-time }
        - name: actor
          in: query
          schema: { type: string }
        - name: action
          in: query
          schema: { type: string }
      responses:
        "200":
          description: 성공
        "403":
          description: 감사 로그 조회 권한 없음

  /compliance/status:
    get:
      tags: [compliance]
      summary: 컴플라이언스 현황 대시보드
      operationId: getComplianceStatus
      security:
        - bearerAuth: []
      responses:
        "200":
          description: CSAP/N2SF/ISMS-P 준수 현황

  /ai/chat:
    post:
      tags: [ai]
      summary: AI 채팅 (N2SF O등급 데이터만)
      description: |
        N2SF 데이터 등급 확인 후 O등급 데이터만 AI API로 전송.
        C/S등급 데이터 전송 시 자동 차단.
        PII 자동 마스킹 적용.
      operationId: aiChat
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, dataGrade]
              properties:
                message:
                  type: string
                  maxLength: 4096
                dataGrade:
                  type: string
                  enum: [O]
                  description: "O등급만 허용 (C/S 차단)"
      responses:
        "200":
          description: AI 응답
        "403":
          description: "데이터 등급 위반 (C/S등급 차단)"

  /catalog:
    get:
      tags: [catalog]
      summary: SaaS 카탈로그 목록
      operationId: listCatalog
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 성공

  /subscriptions:
    get:
      tags: [subscriptions]
      summary: 구독 목록 조회
      operationId: listSubscriptions
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 성공

  /notifications:
    get:
      tags: [notifications]
      summary: 알림 목록 조회
      operationId: listNotifications
      security:
        - bearerAuth: []
      responses:
        "200":
          description: 성공

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT 인증 (CSAP D-08)"

  schemas:
    CreateUserRequest:
      type: object
      required: [email, name, role]
      properties:
        email:
          type: string
          format: email
        name:
          type: string
          minLength: 1
          maxLength: 100
        role:
          type: string
          enum: [admin, manager, user, viewer]
        tenantId:
          type: string
          format: uuid

    CreateTenantRequest:
      type: object
      required: [name, plan]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        plan:
          type: string
          enum: [basic, standard, enterprise]
        domain:
          type: string
          format: hostname

    Error:
      type: object
      properties:
        error:
          type: string
        errorId:
          type: string
          format: uuid
        message:
          type: string
